location:
  name: "Moscow"
  latitude: 55.7558
  longitude: 37.6173
  timezone: "Europe/Moscow"
integrations:
  zont_api:
    - id: 1
      headers:
        X-ZONT-Client: "your@email.com"
      login: "login"
      password: "password"
devices:
  refresh_interval: 30
  open_meteo:
    - device_id: 1001
      type: "virtual"
  met_no:
    - device_id: 1002
      type: "virtual"
  zont:
    - integration_id: 1
      device_id: 12000
  whatsminer:
    - device_id: 1
      login: "login"
      password: "pass"
      host: "example.com"
      port: 1111
