location:
  name: "Moscow"
  latitude: 55.7558
  longitude: 37.6173
  timezone: "Europe/Moscow"
integrations:
  weather:
    - provider: "open_meteo"
      priority: 1
      enabled: true
  zont_api:
    - id: 1
      headers:
        X-ZONT-Client: "your@email.com"
      login: "login"
      password: "password"
devices:
  zont:
    - integration_id: 1
      device_id: 12000
  whatsminer:
    - device_id: 1
      login: "login"
      password: "pass"
      host: "example.com"
      port: 1111
